.states {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.q1 {
  margin-right: 78px;
}
.q2 {
  margin-bottom: 50px;
  margin-right: 78px;
}
.q3 {
  margin-right: 78px;
}

.badge {
  font-size: 22px;
  color: #fff;
  border: solid #f6f6f6;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 11px 10px 8px 6px;
  margin-top: 100px;
  transition: 400ms ease-in-out;
}

.badge sup {
  font-size: 34px;
}

.badge sub {
  font-size: 28px;
}

.left {
  height: 53px;
  margin-top: 108px;
}

.left .txt {
  color: #f6f6f6;
  font-size: 20px;
  text-align: left;
}

.left .line {
  margin-top: 7px;
  width: 65px;
  background: #fff;
  height: 5px;
  float: left;
}

.left .point {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 13px solid #fff;
  float: right;
}

/* .down {
  height: 53px;
  display: relative;
}

.down .txt {
  color: #f6f6f6;
  font-size: 20px;
  position: absolute;
  margin-top: 7px;
  margin-left: 25px;
}

.down .line {
  height: 40px;
  width: 5px;
  background: #fff;
  margin: auto;
}

.down .point {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 13px solid #fff;
  position: absolute;
  margin-left: 30.5px;
} */
