html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #2b2b2b;
  overflow: hidden;
}

.container {
  display: flex;
  font-family: monospace;
  width: 100%;
  height: 100%;
}

.menubar {
  padding: 10px;
  width: 300px;
  color: #f6f6f6;
  background-color: darkmagenta;
  transition: all 1s ease-in-out;
}

.menuheader {
  text-align: center;
  font-size: 30px;
  line-height: normal;
  padding-bottom: 10px;
  border-bottom: solid #f6f6f6;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.menubar .ps {
  cursor: pointer;
  overflow: hidden;
  font-size: 25px;
}
.menubar .sol {
  cursor: pointer;
  margin-top: 20px;
  overflow: hidden;
  font-size: 25px;
}

/* Underline styles */
.a {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

/* Fade in */
.a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #f6f6f6;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.a:hover::after,
.a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* Slide in */
.li .a {
  overflow: hidden;
}

.li .a::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.li .a:hover::after,
.li .a:focus::after {
  transform: translate3d(0, 0, 0);
}

.content {
  padding: 10px;
  flex-grow: 1;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 90px;
  transition: all 1s ease-in-out;
  transform: translateY(100px);
}

.problemstate {
  transform: translateY(-150px);
  color: #f6f6f6;
  transition: all 1s ease-in-out;
  font-size: 32px;
  line-height: 1.4;
}

.problemstate .con {
  max-width: 1000px;
  text-align: justify;
  margin: 10px auto;
}

.solution {
  transition: all 1s ease-in-out;
  transform: translateY(600px);
  flex-grow: 1;
}

.solution .input-text {
  width: 100%;
  display: flex;
  /* justify-content: center; */
}
#ipstring {
  padding: 10px;
  font-size: 25px;
}
.fun {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}
.fun button {
  height: 100%;
  width: 10%;
}

.main {
  /* margin-top: 50px; */
  margin-left: 30px;
  height: 500px;
}

.moore-machine {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
